@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

/*header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  color: white;
  padding: 1.25rem 0 1.25rem;
}

.header-logo {
  font-size: 1.5rem;
  color: #f9faf8;
  font-weight: bolder;
  flex: 0 0 35%;
  margin-left: 25%;
}

.link-text {
  font-size: 1.125rem;
  color: #e5e7eb;
  flex: 1;
  text-align: right;
  margin-right: 25%;
}

/*hero*/
.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: #1f2937;
  padding: 3rem 0;
}

.hero-main {
  margin-left: 30%;
  margin-right: 4%;
  font-size: 3rem;
  font-weight: bold;
  color: #f9faf8;
  flex: 0 0 16%;
}

.hero-secondary {
  font-size: 1.125rem;
  color: #e5e7eb;
}

#signup-btn {
  background-color: #3882f6;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 10%;
  border: 0;
}

.hero-image {
  flex: 1;
  text-align: left;
}

/*random-info*/
.random-info-title {
  text-align: center;
  font-size: 2.25rem;
  font-weight: bolder;
  color: #1f2937;
  margin-top: 2rem;
}

.info-group {
  padding: 3rem 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: auto;
  width: 30%;
}

.info-section-one,
.info-section-two,
.info-section-three,
.info-section-four {
  flex: 1;
  margin-right: 0.125rem;
}

.info-square {
  border: 0.225rem solid #3882f6;
  border-radius: 15%;
  width: 10rem;
  height: 10rem;
}

.info-text {
  margin-top: 0.625rem;
  font-size: 0.925rem;
  color: #1f2937;
  text-align: center;
  width: 10rem;
}

/*Quote Section*/
.quote-section {
  background-color: #e5e7eb;
  padding: 6rem 0;
}

.quote {
  font-size: 2.25rem;
  font-weight: 400;
  font-style: italic;
  color: #1f2937;
  width: 30%;
  margin: 0 auto;
}

.quote-by {
  text-align: right;
  font-size: 1.125rem;
}

/*Button Call for Signup Section*/
.button-section {
  padding: 6rem 0;
  align-items: center;
}

.button-call {
  margin: 0 auto;
  padding: 4rem 2rem;
  width: 35%;
  background-color: #4ea0fd;
  border-radius: 0.65rem;
}

.button-title {
  font-size: 2rem;
  font-weight: bold;
  color: #f9faf8;
}
.button-signup {
  float: right;
}

.button-signup button {
  font-size: 1.125rem;
  padding: 0.5rem 1rem;
  border-radius: 0.625rem;
  background-color: #4ea0fd;
  border: 1px solid #e5e7eb;
  color: #e5e7eb;
  font-weight: bold;
}

.button-desc {
  color: #e5e7eb;
}

.footer {
  padding: 3rem 0;
  text-align: center;
  background-color: #1f2937;
  color: #e5e7eb;
}
@media screen and (max-width: 1330px) {
  /*header phone*/
  .header-logo {
    margin-left: 10%;
    font-size: 0.825rem;
  }

  .link-text {
    font-size: 0.625rem;
    margin-right: 10%;
  }

  #placeholder {
    width: 90%;
  }

  /*hero*/
  .hero-main {
    margin-left: 10%;
    font-size: 1.5rem;
  }
  .hero-secondary {
    font-size: 0.625rem;
  }
  #signup-btn {
    padding: 0.25rem 0.75rem;
    font-size: 0.625rem;
  }
}
